# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"

# NextAuth Configuration
NEXTAUTH_SECRET="your-32-chars-long-secret-key"
NEXTAUTH_URL="http://localhost:3000"

# Email Configuration (Nodemailer - e.g., Mailtrap / SendGrid / Gmail SMTP)
EMAIL_HOST="smtp.mailtrap.io"
EMAIL_PORT="587"
EMAIL_USER="your-email-smtp-username"
EMAIL_PASS="your-email-smtp-password"
EMAIL_FROM="no-reply@yourdomain.vn"
